<div class="container">
  <div class="row">
    <h2>投稿一覧</h2>
  </div>
  <% @articles.each do |article| %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= link_to user_path(article.user) do %>
              <%= attachment_image_tag(article.user, :profile_image, :fill, 50, 50, fallback: "no_img.jpeg", size: "50x50", class: "rounded-circle") %>
              <p><%= article.user.name %></p>
            <% end %>
          </div>
          <div class="col-6">
            <p class="card-title"><%= link_to article.title, article_path(article), class: "" %></p>
            <p class="card-text"><%= article.body %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
