<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <p class="text-center">
            <%= attachment_image_tag @article.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_img.jpeg", size: "60x60", class: "mt-3 rounded-circle" %>
          </p>
          <p class="text-center">
            <% if current_user != @user %>
              <% if current_user.following?(@user) %>
                <%= link_to 'フォロー中', user_relationships_path(@user), method: :delete, class: "btn btn-success" %>
              <% else %>
                <%= link_to 'フォロー', user_relationships_path(@user), method: :post, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </p>
        </div>
        <div class="col-10">
          <p class="card-title"><%= @article.user.name %></p>
          <p class="card-title"><%= @article.title %></p>
          <p class="card-text"><%= @article.body %></p>
          <!---コメント(非同期)--->
          <span>
            <i class="far fa-comment" aria-hidden="true"></i><%= @article.post_comments.count %>
          </span>
          <!---いいね数(非同期)--->
          <% if @article.favorited_by?(current_user) %>
            <span>
              <%= link_to article_favorites_path(@article), class: "text-danger", method: :delete do %>
                <i class="fa fa-heart" aria-hidden="true"></i><%= @article.favorites.count %>
              <% end %>
            </span>
          <% else %>
            <span>
              <%= link_to article_favorites_path(@article), class: "text-primary", method: :post do %>
                <i class="fa fa-heart" aria-hidden="true"></i><%= @article.favorites.count %>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
      <!--<hr>は水平方向の罫線、size,width,alignなどが指定できる-->
      <hr>
      <div class="comments card-text">
        <h4 class="mt-3"><%= @article.post_comments.count%>件のコメント</h4>
        <% @article.post_comments.each do |post_comment| %>
          <!--bootstrapの[media]オブジェクト使用。media、media-bodyのclassが必要-->
          <div class="media border mb-3">
            <%= attachment_image_tag(post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_img.jpeg", size: "60x60", class: "m-3 rounded-circle") %>
            <div class="media-body">
              <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
              <p><%= post_comment.comment %></p>
              <% if post_comment.user == current_user %>
                <%= link_to '削除', article_post_comment_path(post_comment.article, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="new-comment card-text">
        <%= form_with(model:[@article,@post_comment]) do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, rows:"5", class: "form_control", placeholder: "コメントを書く" %>
            <%= f.submit "コメントする", class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
