<% users.each do |user| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-center">
          <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_img.jpeg", size: "50x50", class: "rounded-circle") %>
        </div>
          <div class="col-3">
            <%= link_to user_path(user) do %>
              <%= user.name %>
            <% end %>
          </div>
          <div class="col-5"><%= user.introduction %></div>
          <div class="col-2">
            <% if current_user != user %>
              <% if current_user.following?(user) %>
                <%= link_to 'フォロー中', user_relationships_path(user.id), method: :delete, class: "btn btn-success" %>
              <% else %>
                <%= link_to 'フォロー', user_relationships_path(user.id), method: :post, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
<% end %>