  <div class="row">
    <div class="">
      <h5><%= link_to 'フォロー', user_followings_path(user), class: "fas fa-handshake" %></h5>
    </div>
    <div class="">
      <h5><%= link_to 'フォロワー', user_followers_path(user), class: "fas fa-hand-holding-heart" %></h5>
    </div>
    <div class="">
      <h5><%= link_to '投稿', articles_path, class: "fas fa-file-alt" %></h5>
    </div>
    <div class="">
      <h5><%= link_to '管理者おススメ記事', class: "fas fa-book-reader" %></h5>
    </div>
    <div class="">
      <h5><%= link_to 'ブックマーク', class: "fas fa-bookmark" %></h5>
    </div>
    <div class="">
      <h5><%= link_to "プロフィール編集", edit_user_path(user), class: "fas fa-user-cog" %></h5>
    </div>
  </div>