<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h3 class="text-dark bg-light py-4 mb-0">プロフィールの編集</h3>
      <div class="form-body bg-white p-4">
        <%= form_with model: @user, local:true do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "名前" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user-edit"></i></span>
            </div>
            <%= f.text_area :introduction, rows:"3", autofocus: true, class: "form-control", placeholder: "自己紹介" %>
          </div>
          <div class="my-3">
            <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
          </div> 
            <%= f.submit "編集する", class: "btn btn-block btn-info rounded-pill" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
