<div class="container">
  <div class="row">
    <div>
      <%= link_to user_followings_path(@user) do %>
        <%= image_tag "", size: "150x150", class: "rounded-circle" %>
        <p>フォロー</p>
      <% end %>
    </div>
    <div>
      <%= link_to user_followers_path(@user) do %>
        <%= image_tag "", size: "150x150", class: "rounded-circle" %>
        <p>フォロワー</p>
      <% end %>
    </div>
    <div>
      <%= link_to articles_path do %>
        <%= image_tag "", size: "150x150", class: "rounded-circle" %>
        <p>投稿</p>
      <% end %>
    </div>
    <div>
      <p>管理者おススメ記事</p>
    </div>
    <div>
      <p>ブックマーク</p>
    </div>
    <div>
      <%= link_to edit_user_path(@user) do %>
        <%= image_tag "", size: "150x150", class: "rounded-circle" %>
        <p>プロフィール編集</p>
      <% end %>
    </div>
  </div>
</div>